{
  "extends": ["prettier"],
  "plugins": ["prettier", "react"],
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "spread": true,
      "modules": true
    }
  },
  "rules": {
    "prettier/prettier": ["error"]
  }
}
