body {
  background-color: white;
}

p {
}

h1 {
  text-align: right;
}

nav {
  display: flex;
  align-items: center;
}

nav ul {
  padding: 5px 15px;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li a {
  color: blue;
}

.sim-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.sim-row .text-input {
  display: inline-block;
  height: 30px;
  margin-left: 10px;
  padding: 0 5px;
}

.sim-row .checkbox-input {
  margin-left: 10px;
}

.sim-row label {
  display: inline-block;
  width: 150px;
  text-align: right;
}

.sim-row label.small {
  font-size: 14px;
}

.sim-buttons {
  margin: 30px 0 0;
  text-align: right;
}

.sim {
  display: flex;
}

.sim > div {
  margin-left: 30px;
}

.button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-right: 5px;
}

.button:disabled {
  background-color: lightgray;
}

.value {
  margin: 0 10px;
}

.button.small {
  width: 25px;
  height: 25px;
  text-align: center;
  padding: 0;
}
